<h2>Music</h2>

<h3>Old Kentucky Shark (2001-2002)</h3>

<h4>09/12/02</h4>

<h5>Being Alone</h5>

<audio controls width=40%><source src="music/being_alone.mp3" type="audio/mpeg"></audio>
  
<h5>This Time</h5>

<audio controls width=40%><source src="music/this_time.mp3" type="audio/mpeg"></audio>
  
<h5>Treason</h5>

<audio controls width=40%><source src="music/treason.mp3" type="audio/mpeg"></audio>
  
<h5>Annabelle Lee</h5>

<audio controls width=40%><source src="music/annabelle_lee.mp3" type="audio/mpeg"></audio>

<h4>B &amp; O</h4>

<h5>Die Again</h5>

<audio controls width=40%><source src="music/die_again.mp3" type="audio/mpeg"></audio>

<h5>Magnet</h5>

<audio controls width=40%><source src="music/magnet.mp3" type="audio/mpeg"></audio>

